---
import { getCollection } from "astro:content";

import MainContent from "@/components/main-content.astro";
import PageLayout from "@/layouts/page.astro";

const allSoftware = await getCollection("software");
---

<PageLayout title="Home">
	<MainContent class="mx-auto mt-10 grid gap-y-4 border-2 border-t-red-600 bg-slate-50 px-3">
		<div class="">
			<h1 class="text-2xl text-neutral-950 dark:text-white">DHRI Software Dashboard</h1>
			<h2>Sofware made in ACDH-CH by the DH Research&Infrastructure Unit</h2>
		</div>

		<ul class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-8 p-0" role="list">
			{
				allSoftware.map((software) => {
					return (
						<li>
							<article class="grid gap-4 rounded-b-md border-2 border-t-[3px] border-t-red-600 bg-white shadow-sm">
								<a href={software.data.url}>
									<img
										src="https://www.oeaw.ac.at/fileadmin/Institute/ACDH/img/Tools/Tools_ACDH-CH_APIS-App.PNG"
										class="relative block aspect-[1.4] object-cover"
										sizes="791px"
										width="791"
										alt=""
									/>
								</a>
								<div class="grid gap-2 px-8 py-3">
									<header>
										<h3 class="text-xl font-medium text-neutral-950 dark:text-white">
											<a href={software.data.url} class="hover:underline">
												{software.data.title}
											</a>
										</h3>
									</header>
									<p class="text-gray-600">{software.data.summary}</p>
									<footer class="grid justify-start justify-items-start gap-2 text-neutral-950">
										{software.data.url ? (
											<a
												class="rounded-md border-2 bg-slate-50 px-3 py-1 text-sm transition hover:bg-black hover:text-white dark:hover:text-black"
												href={software.data.url}
											>
												Website
											</a>
										) : null}
										<a
											class="rounded-md border-2 bg-slate-50 px-3 py-1 text-sm transition hover:bg-black hover:text-white dark:hover:text-black"
											href={software.data.repo}
										>
											Git repository
										</a>
										{software.data.demo ? (
											<a
												class="rounded-md border-2 bg-slate-50 px-3 py-1 text-sm transition hover:bg-black hover:text-white dark:hover:text-black"
												href={software.data.demo}
											>
												Demo
											</a>
										) : (
											<span class="italic text-neutral-500">Demo not available</span>
										)}
									</footer>
								</div>
							</article>
						</li>
					);
				})
			}
		</ul>
		<footer>
			<div>
				<a
					class="underline underline-offset-4 transition hover:text-neutral-950 hover:no-underline dark:hover:text-white"
					href="https://github.com/acdh-oeaw/dhri-software-dashboard"
				>
					https://github.com/acdh-oeaw/dhri-software-dashboard
				</a>
			</div>
		</footer>
	</MainContent>
</PageLayout>
